@media (min-width: 981px){ 
	.header-container,#map{
		margin: 0 auto;
		width:940px;
	}
	
	header form,.col-name_of_street{
	  margin: 0;
	  float:left;
	}
  
	header form{ width:39.5%; }
  
	.col-name_of_street{ width:59.5%; }
    
	.name_of_street{ padding: 5px 0 5px 30px; }
  
	.search{ 
    margin: 0 0 0 5px;
    padding: 5px 0;
	}
	
	.fa-map-marker{ top: 15px;}
}  

@media (min-width: 768px) and (max-width: 980px) { 
	header form,.col-name_of_street{
	  margin: 0;
	  float:left;
	}
  
	header form{ width:39.5%; }
  
	.col-name_of_street{ width:59.5%; }
    
	.name_of_street{ padding: 5px 0 5px 30px; }
  
	.search{ 
    margin: 0 0 0 5px;
    padding: 5px 0;
	}
    
	.fa-map-marker{ top: 15px;}
}

@media screen and (min-width: 601px) and (max-width: 767px) { 
  
}

@media screen and (min-width: 481px) and (max-width: 600px){
        
 }

@media screen and (min-width: 321px) and (max-width: 480px) { 
    
 
}