@media (min-width: 981px){ 
	.header-container{
	 margin: 0 auto;
	 width:940px;
		position: relative;
	}

	.top,.bottom {
		left: 50%;
		font-size:40pt;
	}

	#form a{ top: 200px;}

	.col_name_of_street {
		margin-top:10px;
	}

	.col_name_of_street,#button{
		float:left;
		width:48.5%;
	}

	.name_of_street{ padding: 5px 0 5px 30px; }

	.search{
		margin:10px 0 0 5px;
		padding: 7px 0;
	}

	.icon-location{ top: 15px;}

	#on-icon-down-big{
		position: absolute;
		bottom:0;
		margin-top: 0;
	}
}  

@media (min-width: 768px) and (max-width: 980px) {
	.header-container{
		margin: 0 auto;
		width:728px;
		position: relative;
	}

	.top,.bottom {
		left: 50%;
		font-size:30pt;
	}

	#form a{ top: 200px;}

	.col_name_of_street {
	  margin-top:10px;
	}

	.col_name_of_street,#button{
		float:left;
		width: 48.5%;
	}

	.name_of_street{ padding: 5px 0 5px 30px; }

	.search{ 
    margin:10px 0 0 5px;
    padding: 7px 0;
	}

	.icon-location{ top: 15px;}

	#on-icon-down-big{
	position: absolute;
	bottom:0;
	margin-top: 0;
	}
}