@media (min-width: 981px){ 
	.header-container{
	 margin: 0 auto;
	width:940px;
	}
	
	.col-name_of_street{
	  margin:0 0 0 5px;
	  float:left;
	  width:49%; 
	  float:left;
	}
    
	.name_of_street{ padding: 5px 0 5px 30px; }
  
	.search{ 
    margin: 0 0 0 5px;
	padding: 7px 0;
	width: 49%;
	}
	
	.fa-map-marker{ top: 15px;}
}  

@media (min-width: 768px) and (max-width: 980px) { 
	.col-name_of_street{ 
	  margin:0 0 0 5px;
	  float:left;
	  width:49%; 
	  float:left;
	}
    
	.name_of_street{ padding: 5px 0 5px 30px; }
  
	.search{ 
    margin: 0 0 0 5px;
    padding: 7px 0;
	width: 49%;
	}
    
	.fa-map-marker{ top: 15px;}
}