body, html {
  margin: 0;
  padding: 0;
  background: #ebebeb;
}

body {
  overflow: hidden;
}

#form, .container, #map {
  width: 100%;
  height: 100vh;
  position: relative;
}

#alertMessage {
  display: none;
}

/* button start css
=========================== */
.search,#watchOnMapButton,#watchOnFormButton{
  width: 100%;
  border: none;
  text-align: center;
  background: #0000CD;
  border-radius: 5px;
  padding: 11px 0;
  color: white;
  margin-top: 10px;
  cursor: pointer;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

#watchOnMapButton,#watchOnFormButton{
  padding: 5px 0;
}

.search{
  background: red;
}

/* form start css
=========================== */
#form {
  padding-top: 5%;
}

.icon-location {
  position: absolute;
  top: 12px;
  left: 10px;
}

.name_of_street, .search, #watchOnMapButton, #watchOnFormButton, .navigation li a {
  font: 24px 'OpenSansLight';
}

.col_name_of_street {
  width: 98%;
  margin: 0 auto;
  position: relative;
}

#fromBlock {
  margin-top: 10px;
}

.name_of_street {
  padding-left: 30px;
  box-sizing: border-box;
  width: 100%;
}

.name_of_street:focus {
  outline: none;
}

.effect-8 ~ .focus-border:before,
.effect-8 ~ .focus-border:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #3399FF;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.effect-8 ~ .focus-border:after {
  top: auto;
  bottom: 0;
  left: auto;
  right: 0;
}

.effect-8 ~ .focus-border i:before,
.effect-8 ~ .focus-border i:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 0;
  background-color: #3399FF;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.effect-8 ~ .focus-border i:after {
  left: auto;
  right: 0;
  top: auto;
  bottom: 0;
}

.effect-8:focus ~ .focus-border:before,
.effect-8:focus ~ .focus-border:after {
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.effect-8:focus ~ .focus-border i:before,
.effect-8:focus ~ .focus-border i:after {
  height: 100%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#button {
  width: 98%;
  margin: 0 auto;
}

#on-icon-down-big {
  top: 200px;
  display: none;
}

/* out start css
=========================== */

.container{
  width: 98%;
  margin: 80px auto 0 auto;
}

.instructions h1{
  text-align: center;
  font: 20px 'OpenSansLight';
  margin-bottom: 5px;
}

.accordion {
  background: #eee;
  color: #444;
  cursor: pointer;
  padding: 10px 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  border-top:2px solid #0000cc;
  margin-bottom: 5px;
}

.accordion:after {
  content: '\02795';
  font-size: 13px;
  color: #777;
  float: right;
  margin:5px 0 0 5px;
}

.accordion.active:after {
  content: "\2796";
}

.panel {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  opacity: 0;
  background: #eee;
}

.panel.show {
  opacity: 1;
  max-height: 500px;
}

#watchOnFormButton{
  margin-bottom: 5px;
}

/* out map css
=========================== */

#map-body {
  height: 80%;
  width: 100%;
}