body,html{
    margin:0;
	padding:0;
	width: 100%;
	height:100%;
    background:#ebebeb;
}

body{ overflow: hidden; }

#form,#out,#map{
	-webkit-transform: translateZ( 0 );
	transform: translateZ( 0 );
	-webkit-transition: -webkit-transform 0.6s ease-in-out;
	transition: transform 0.6s ease-in-out;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	width: 100%;
	height: 100vh;
}

.panel{
	height: 98%;
	min-width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

/* anchors start css
=========================== */
.top,.bottom{
	position: relative;
	left:50%;
}

.bottom{ top:95%; }

/* form start css
=========================== */
#form{ padding-top:5%;  }
	
.fa-map-marker{
	position: absolute;
	top:12px;
	left:10px;
}

.name_of_street,.search,.navigation li a{ font:24px 'OpenSansLight'; }

.col_name_of_street {
	width:99%; 
	margin:0 auto;
	position: relative;
}

#fromBlock{ margin-top: 10px; }

.name_of_street{
	padding-left:30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width:100%;
}

.name_of_street:focus{ outline: none;}

.effect-8 ~ .focus-border:before,
.effect-8 ~ .focus-border:after{content: ""; position: absolute; top: 0; left: 0; width: 0; height: 2px; background-color: #3399FF; transition: 0.3s;}
.effect-8 ~ .focus-border:after{top: auto; bottom: 0; left: auto; right: 0;}
.effect-8 ~ .focus-border i:before,
.effect-8 ~ .focus-border i:after{content: ""; position: absolute; top: 0; left: 0; width: 2px; height: 0; background-color: #3399FF; transition: 0.4s;}
.effect-8 ~ .focus-border i:after{left: auto; right: 0; top: auto; bottom: 0;}
.effect-8:focus ~ .focus-border:before,
.effect-8:focus ~ .focus-border:after{width: 100%; transition: 0.3s;}
.effect-8:focus ~ .focus-border i:before,
.effect-8:focus ~ .focus-border i:after{height: 100%; transition: 0.4s;}

.search{
	width:100%;
	clear: both;
	border: none;
	text-align:center;
	background:#0000CD;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius:5px;
	padding:11px 0;
	color:white;
	margin:10px auto 0 auto;
	cursor: pointer;
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.search:hover{ background: #555555; }

/* out start css
=========================== */


/* out map css
=========================== */


/*
 *Scrolling
 */

a[ name= "form" ]:target ~ #main div.panel {
	-webkit-transform: translateY( 0px);
	transform: translateY( 0px );
}

a[ name= "out" ]:target ~ #main div.panel {
	-webkit-transform: translateY( -105.5vh );
	transform: translateY( -105.5vh );
}
a[ name= "map" ]:target ~ #main div.panel {
	-webkit-transform: translateY( -205.5vh );
	transform: translateY( -205.5vh );
}